
body {
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
    font-size: 5.625rem;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2rem;
    margin-top: 50px;
}

h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 30px auto 30px auto;
}

p {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    font-size: 0.9rem;
}

hr {
    width: 10%;
    height: 0px;
    opacity: 0.5;
    border: 8px dotted white;
    border-top: none;
}

a {
    position: relative;
    top: 30px;
}

.titles {
    margin-top: 0px;
    position: relative;
    top: 150px;
    margin-bottom: 0px;
}

.subtitle {
    padding-top: 100px;
    font-weight: normal;
}

.top-container {
    background-color: #d8c593;
    background-size: contain;
    position: relative;
    z-index: -2;
    height: 600px;
}

.middle-container {
    background-color: rgba(112, 129, 96, 0.9);
    background-size: contain;
    position: relative;
    height: 1985px;
}

.bottom-container {
    background-color: #bb3b0e;
    background-size: contain;
    height: 80px;
    padding: 50px 0 20px;
}

.clouds-1 {
    position: absolute;
    height: 150px;
    right: 30px;
    top: 10px;
}

.clouds-2 {
    position: absolute;
    height: 150px;
    left: 30px;
    top: 10px;
}

.ruins {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 519px;
    z-index: -1;
    position: relative;
    padding-bottom: 0px;
    bottom: 185px;
}

.contact-me {
    background-color: #dd7631;
    background-size: contain;
    position: relative;
}

.ent-img {
    width: 800px;
    margin: auto;
}

.dev-img {
    width: 1000px;
    margin: auto;
}

.profile {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 180px;
    margin-right: 180px;
}

.profile-image {
    height: 200px;
    padding-bottom: 10px;
}


.skill-row {
    width: 50%;
    margin: 70px auto 100px auto;
    text-align: left;
    line-height: 1.5;
}

.enterprise {
    width: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.development {
    width: 1000px;
}

.web-design-subtitle {
    width: 800px;
    margin-top: 50px;
}

.contact-me-container {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.scene-image {
    height: 300px;
    opacity: 0.8;
}

.text-content-container {
    display: inline-block;
    height: 300px;
    width: 600px;
}

.contact-me-par {
    width: 600px;
}

.btn {
	background-color:#79bbff;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size:20px;
	padding:13px 55px;
	text-decoration:none;
}
.btn:hover {
	background-color:#378de5;
}

/* .btn:active {
	position:relative;
	top:1px;
} */

.surname {
    margin-bottom: 0px;
    opacity: 0.6;
    font-size: 0.75rem;
    margin-top: 0px;
    position: relative;
    bottom: 20px;
}

.social-div {
    display: inline-flex;
    justify-content: center;
    position: relative;
    bottom: 40px;
}

.footer-link {
    padding: 0px 10px 0px 10px;
    position: initial;
}

img.hoverImages {
    margin: 20px 1px 20px 1px;
    float:left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
  }
  
  img.hoverImages:hover {
      cursor:pointer;
      margin-top: 5px;
  }



@media (max-width: 480px) {
    h1 {
        font-size: 4rem;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: 'Sacramento', cursive;
    }
    
    h2 {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 1.5rem;
        margin-top: 30px;
    }
    
    h3 {
        font-family: 'Montserrat Alternates', sans-serif;
        margin: 30px auto 30px auto;
        font-size: 1.3rem;
    }
    
    p {
        width: 330px;
        margin-left: auto;
        margin-right: auto;
        line-height: 2;
        font-size: 0.8rem;
        text-align: justify;
    }

    .subtitle {
        padding-top: 50px;
    }

    .top-container {
        height: 430px;
    }

    .ruins {
        width: 375px;
        height: 200px;
        top: 25px;
    }

    .clouds-1 {
        width: 375px;
    }

    .clouds-2 {
        width: 340px;
        right: 0px;
    }

    .middle-container {
        justify-content: center;
        text-align: center;
        height: 2040px;
    }

    .profile {
        padding-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .profile-image {
        height: 130px;
        padding-bottom: 0px;
    }

    .ent-img {
        width: 300px;
    }

    .skill-row {
        margin-right: 0px;
        width: 350px;
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;   
    }

    .dev-img {
        width: 358px;
    }

    .web-design-subtitle {
        margin-right: 0px;
        width: 350px;
        margin-top: 30px;
        text-align: center;
    }

    .enterprise {
        justify-content: center;
        text-align: center;
    }

    .development {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .contact-me-container {
        padding-top: 80px;
        padding-bottom: 80px;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .scene-image {
        height: 200px;
    }

    .text-content-container {
        width: 350px;
        text-align: center;
    }

    .contact-me-container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .contact-me-par {
        width: 350px;
        text-align: center;
    }

    .btn {
        background-color:#378de5;
        border-radius:42px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size:20px;
        padding:13px 55px;
        text-decoration:none;
    }

    .surname {
        text-align: center;
        width: 300px;
    }

    .bottom-container {
        width: 374px;
    }
}




 
 